{{!-- Adjustable configuration --}}
<div class="layout-config">
  {{!-- We can remove the arm position slider since it's not needed with columns --}}
</div>

{{!-- Unassigned Items List --}}
<div class="body-part body-unequipped">
  <h3>Unequipped Items
    <div class="item-controls">
      <a
        class="item-control item-create"
        title="{{localize 'DOCUMENT.Create' type='Item'}}"
        data-type="item"
        data-location="unassigned"
      >
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </h3>
  <ol class="items-list"
      id="items-unequipped"
      data-location="unassigned"
      style="min-height: {{listHeight 8}}px; max-height: {{listHeight 8}}px;">
    {{#each unassignedItems as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name">
          <div class="item-image">
            <a
              class="item-control item-edit"
              title="{{localize 'DOCUMENT.Update' type=item.type}}"
            >
              <img
                src="{{item.img}}"
                title="{{item.name}}"
                width="24"
                height="24"
              />
            </a>
          </div>
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-controls">
          <a
            class="item-control item-delete"
            title="{{localize 'DOCUMENT.Delete' type=item.type}}"
          >
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{else}}
      {{#times 8}}
        <li class="item flexrow empty-item"><div class="item-name"></div></li>
      {{/times}}
    {{/each}}
  </ol>
</div>

{{!-- Mechs List --}}
<div class="body-part body-mechs">
  <h3>Mechs
    <div class="item-controls">
      <a
        class="item-control item-create"
        title="{{localize 'DOCUMENT.Create' type='Mech'}}"
        data-type="mech"
        data-location="unassigned"
      >
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </h3>
  <ol class="items-list"
      id="items-mechs"
      data-location="unassigned"
      style="min-height: {{listHeight 3}}px; max-height: {{listHeight 3}}px;">
    {{#each mechs as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name">
          <div class="item-image">
            <a
              class="item-control item-edit"
              title="{{localize 'DOCUMENT.Update' type='Mech'}}"
            >
              <img
                src="{{item.img}}"
                title="{{item.name}}"
                width="24"
                height="24"
              />
            </a>
          </div>
          <h4>{{item.name}}</h4>
        </div>
        <div class="item-controls">
          <a
            class="item-control item-delete"
            title="{{localize 'DOCUMENT.Delete' type='Mech'}}"
          >
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
    {{else}}
      {{#times 3}}
        <li class="item flexrow empty-item"><div class="item-name"></div></li>
      {{/times}}
    {{/each}}
  </ol>
</div>

