{{!-- filepath: templates/actor/parts/mech-body-part-list.hbs --}}
<div class="body-part {{bodyClass}}{{#if showStats}}{{#if (eq bodyPartHP 0)}} zero-hp{{/if}}{{/if}}" style="margin-top: {{topPad}}px;">
  <h3>{{bodyLabel}}</h3>
  {{#if showStats}}
  <div class="body-part-stats">
    <div class="stat-row">
      <label>HP:</label>
      <input type="number" 
             name="system.bodyPartHP.{{bodyKey}}" 
             value="{{bodyPartHP}}" 
             min="0" 
             max="{{bodyPartMaxHP}}"
             class="body-part-hp" />
      <span class="stat-separator">/</span>
      <input type="number" 
             name="system.bodyPartMaxHP.{{bodyKey}}" 
             value="{{bodyPartMaxHP}}" 
             min="0" 
             class="body-part-max-hp" 
             placeholder="Max" 
             disabled />
    </div>
    <div class="stat-row">
      <label>Armor:</label>
      <input type="number" 
             name="system.bodyPartArmour.{{bodyKey}}" 
             value="{{bodyPartArmour}}" 
             min="0" 
             max="{{bodyPartMaxArmour}}"
             class="body-part-armor" />
      <span class="stat-separator">/</span>
      <input type="number" 
             name="system.bodyPartMaxArmour.{{bodyKey}}" 
             value="{{bodyPartMaxArmour}}" 
             min="0" 
             class="body-part-max-armor" 
             placeholder="Max"
             disabled />
    </div>
  </div>
  {{/if}}
  <ol class='items-list'
    id='items-{{bodyKey}}'
    data-location='{{bodyKey}}'
    style="min-height: {{listHeight empty-spots}}px; max-height: {{listHeight empty-spots}}px;">
    
    <!--
    <li class='item flexrow items-header'>
      <div class='item-name'>{{localize 'Name'}}</div>
      <div class='item-formula'>{{localize 'Roll Formula'}}</div>

    </li>
    -->
    {{#each items as |item id|}}
      <li class='item flexrow' data-item-id='{{item._id}}'>
        
        <div class='item-name {{#unless item.system.enabled}}disabled{{/unless}}'>
          <div class='item-toggle'>
            <input type='checkbox' 
                  class='part-enabled-toggle' 
                  data-item-id='{{item._id}}'
                  {{#if item.system.enabled}}checked{{/if}}
                  title='Enable/Disable this part' />
          </div>
          <div class='item-image'>
          <a
            class='item-control item-edit'
            title='{{localize "DOCUMENT.Update" type="Item"}}'
          >
            <img
              src='{{item.img}}'
              title='{{item.name}}'
              width='24'
              height='24'
            />
          </a>
          </div>
          <h4>{{item.name}}</h4>
          {{!--
          --}}
          {{#if item.system.resources}}
            <div class='item-resources'>
              {{#each item.system.resources as |value key|}}
                {{#if ../item.system.enabled}}
                  <span class='resource-tag active'>{{key}}: {{value}}</span>
                {{else}}
                  <span class='resource-tag inactive'>{{key}}: {{value}}</span>
                {{/if}}
              {{/each}}
            </div>
          {{/if}}
        </div>
      </li>
    
    {{else}}
      {{#times empty-spots}}
        <li class='item flexrow empty-item'><div class='item-name'></div></li>
      {{/times}}
    {{/each}}
    
    
  </ol>
</div>